In [2]:
import mysql.connector
from mysql.connector import errorcode


import pandas as pd
import numpy as np

In [3]:
try:
  cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')
  print("Conexion establecida")

except mysql.connector.Error as err:

  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  
  else:
    print(err)

Conexion establecida

In [ ]:
def creacion_bbdd (usuario, contrasenya, bbdd):
    
    cnx = mysql.connector.connect(user=usuario, password=contrasenya,
                                host='127.0.0.1', database=bbdd)


    mycursor = cnx.cursor()
    query = "CREATE SCHEMA BHO"

    try: 
        mycursor.execute(query)
    
        print("BBDD creada")

    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

    mycursor = cnx.cursor()
    query = "CREATE TABLE api( id_pelicula int NOT NULL AUTO_INCREMENT PRIMARY KEY, genero enum ('accion','drama','comedia'), tipo enum ('pelicula','corto'), nombre_peli_api varchar(200), año_api year,  mes_api int,  codigo_imbd varchar (10))"
    
    try: 
        mycursor.execute(query)
    
        print("Tabla api creada")

    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

    mycursor = cnx.cursor()
    query = "CREATE TABLE imdb_rt (id_pelicula int NOT NULL, puntuacion_imbd varchar (200),  puntuacion_rt varchar (200), direccion varchar (100), guionistas varchar (200), argumento  text, duracion_minutos varchar (200), nombre_pelicula varchar (200), codigo_imbd varchar (10), CONSTRAINT fkid_pelicula FOREIGN KEY (id_pelicula) REFERENCES api (id_pelicula))"
    
    try: 
        mycursor.execute(query)
    
        print("Tabla imdb_rt creada")

    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

    mycursor = cnx.cursor()
    query = "CREATE TABLE actores_datos ( id_actor int NOT NULL AUTO_INCREMENT, nombre_actor varchar (150), año_nacimiento year, lugar_nacimiento varchar (200), activo_desde year, premios varchar (250), PRIMARY KEY (id_actor))"
    
    try: 
        mycursor.execute(query)
    
        print("Tabla actores_datos creada")

    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

    mycursor = cnx.cursor()
    query = "CREATE TABLE oscars ( id_pelicula int NOT NULL, id_actor int NOT NULL, id_actriz int NOT NULL, id_ceremonia int NOT NULL AUTO_INCREMENT,  año_ceremonia year, mejor_pelicula varchar (200), mejor_director varchar (100), mejor_actor varchar (150), mejor_actriz varchar (150), PRIMARY KEY (id_ceremonia), CONSTRAINT fkid_pelicula_oscar FOREIGN KEY (id_pelicula) REFERENCES api (id_pelicula), CONSTRAINT fkid_actor FOREIGN KEY (id_actor) REFERENCES actores (id_actor), CONSTRAINT fkid_actriz FOREIGN KEY (id_actriz) REFERENCES actores (id_actor))"
    
    try: 
        mycursor.execute(query)
    
        print("Tabla oscars creada")

    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

    mycursor = cnx.cursor()
    query = "CREATE TABLE pelicula_actor_ids ( id_pelicula  int NOT NULL, id_actor int NOT NULL,  PRIMARY KEY (id_pelicula, id_actor), CONSTRAINT fkid_pelicula2 FOREIGN KEY (id_pelicula) REFERENCES api (id_pelicula), CONSTRAINT fkid_actor2 FOREIGN KEY (id_actor) REFERENCES actores (id_actor))"
    
    try: 
        mycursor.execute(query)
    
        print("Tabla oscars creada")

    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

    cnx.close()