In [1]:
# Importar librerías para tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd  # Pandas es una poderosa librería para manipulación y análisis de datos en Python.

# Importar librerías para web scraping y manipulación de datos
# -----------------------------------------------------------------------
from bs4 import BeautifulSoup
import requests

# Importar librerías para automatización de navegadores web con Selenium
# -----------------------------------------------------------------------
from selenium import webdriver  # Selenium es una herramienta para automatizar la interacción con navegadores web.
from webdriver_manager.chrome import ChromeDriverManager  # ChromeDriverManager gestiona la instalación del controlador de Chrome.
from selenium.webdriver.common.keys import Keys  # Keys es útil para simular eventos de teclado en Selenium.
from selenium.webdriver.support.ui import Select  # Select se utiliza para interactuar con elementos <select> en páginas web.

# Importar librerías para pausar la ejecución
# -----------------------------------------------------------------------
from time import sleep  # Sleep se utiliza para pausar la ejecución del programa por un número de segundos.

# Configuraciones
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None)  # Establece una opción de Pandas para mostrar todas las columnas de un DataFrame.

import numpy as np

import re
import random

In [11]:
df_action = pd.read_csv("action.csv", index_col = 0)
df_comedy = pd.read_csv("comedy.csv", index_col = 0)
df_drama = pd.read_csv("drama_no_duplicado.csv", index_col = 0)

In [12]:
lista_api_action= df_action.values.tolist()
lista_api_comedy= df_comedy.values.tolist()
lista_api_drama= df_drama.values.tolist()

In [13]:
lista_api_comedy[:4]

[['Movie', 'This Wretched Life', 2010.0, 7.0, 'tt0331312'],
 ['Movie', 'Blind Sided', 2010.0, 0.0, 'tt0337882'],
 ['Movie', "Anderson's Cross", 2010.0, 5.0, 'tt0393049'],
 ['Movie', 'Tangled', 2010.0, 12.0, 'tt0398286']]

In [14]:
lista_api_action[:4]

[[0, 'Movie', 'U-571', 2000.0, 9.0, 'tt0141926'],
 [1, 'Movie', 'Knockout', 2000.0, 2.0, 'tt0143344'],
 [2, 'Movie', 'Highlander: Endgame', 2000.0, 9.0, 'tt0144964'],
 [3, 'Movie', 'Sinbad: Beyond the Veil of Mists', 2000.0, 2.0, 'tt0144608']]

In [15]:
lista_api_drama[:4]

[['Movie', 'Pál Adrienn', 2011.0, 6.0, 'tt0146592'],
 ['Movie', 'Oda az igazság', 2010.0, 2.0, 'tt0154039'],
 ['Movie', 'A zöld sárkány gyermekei', 2011.0, 4.0, 'tt0162942'],
 ['Movie', 'The Final Journey', 2010.0, 9.0, 'tt0230212']]

In [16]:
for lista1 in lista_api_action:
    lista1.pop(0)

In [17]:
lista_api_action[:4]

[['Movie', 'U-571', 2000.0, 9.0, 'tt0141926'],
 ['Movie', 'Knockout', 2000.0, 2.0, 'tt0143344'],
 ['Movie', 'Highlander: Endgame', 2000.0, 9.0, 'tt0144964'],
 ['Movie', 'Sinbad: Beyond the Veil of Mists', 2000.0, 2.0, 'tt0144608']]

In [18]:
for lista in lista_api_comedy:
    lista.insert(0,"comedia")
    if lista[1] == "Movie":
        lista[1] ="pelicula"
    elif lista[1] == "Short":
        lista[1] ="corto"

In [19]:
lista_api_comedy[:4]

[['comedia', 'pelicula', 'This Wretched Life', 2010.0, 7.0, 'tt0331312'],
 ['comedia', 'pelicula', 'Blind Sided', 2010.0, 0.0, 'tt0337882'],
 ['comedia', 'pelicula', "Anderson's Cross", 2010.0, 5.0, 'tt0393049'],
 ['comedia', 'pelicula', 'Tangled', 2010.0, 12.0, 'tt0398286']]

In [20]:
for lista in lista_api_action:
    lista.insert(0,"accion")
    if lista[1] == "Movie":
        lista[1] ="pelicula"
    elif lista[1] == "Short":
        lista[1] ="corto"

In [21]:
lista_api_action[:4]

[['accion', 'pelicula', 'U-571', 2000.0, 9.0, 'tt0141926'],
 ['accion', 'pelicula', 'Knockout', 2000.0, 2.0, 'tt0143344'],
 ['accion', 'pelicula', 'Highlander: Endgame', 2000.0, 9.0, 'tt0144964'],
 ['accion',
  'pelicula',
  'Sinbad: Beyond the Veil of Mists',
  2000.0,
  2.0,
  'tt0144608']]

In [22]:
for lista in lista_api_drama:
    lista.insert(0,"drama")
    if lista[1] == "Movie":
        lista[1] ="pelicula"
    elif lista[1] == "Short":
        lista[1] ="corto"

In [23]:
lista_api_drama[:4]

[['drama', 'pelicula', 'Pál Adrienn', 2011.0, 6.0, 'tt0146592'],
 ['drama', 'pelicula', 'Oda az igazság', 2010.0, 2.0, 'tt0154039'],
 ['drama', 'pelicula', 'A zöld sárkány gyermekei', 2011.0, 4.0, 'tt0162942'],
 ['drama', 'pelicula', 'The Final Journey', 2010.0, 9.0, 'tt0230212']]

In [25]:
df_lista_api_comedy = pd.DataFrame(lista_api_comedy)
df_lista_api_comedy

             0         1                          2       3     4          5
0      comedia  pelicula         This Wretched Life  2010.0   7.0  tt0331312
1      comedia  pelicula                Blind Sided  2010.0   0.0  tt0337882
2      comedia  pelicula           Anderson's Cross  2010.0   5.0  tt0393049
3      comedia  pelicula                    Tangled  2010.0  12.0  tt0398286
4      comedia  pelicula              Venus & Vegas  2010.0  11.0  tt0423474
...        ...       ...                        ...     ...   ...        ...
23995  comedia     corto              Dirty Laundry  2009.0   6.0  tt1377681
23996  comedia     corto              All Broken Up  2009.0   3.0  tt1378178
23997  comedia     corto                  In Dreams  2009.0   0.0  tt1378267
23998  comedia     corto  Chlamydia Is Not a Flower  2009.0   2.0  tt1378214
23999  comedia     corto               Brain Freeze  2009.0   2.0  tt1378200

[24000 rows x 6 columns]

In [26]:
df_lista_api_comedy.to_csv("api_comedia_corregida.csv")

In [27]:
df_lista_api_action = pd.DataFrame(lista_api_action)
df_lista_api_action

,0,1,2,3,4,5
0,accion,pelicula,U-571,2000.0,9.0,tt0141926
1,accion,pelicula,Knockout,2000.0,2.0,tt0143344
2,accion,pelicula,Highlander: Endgame,2000.0,9.0,tt0144964
3,accion,pelicula,Sinbad: Beyond the Veil of Mists,2000.0,2.0,tt0144608
4,accion,pelicula,Shafted!,2000.0,3.0,tt0147486
...,...,...,...,...,...,...
21409,accion,corto,Maximum Overdrive,2009.0,10.0,tt15691914
21410,accion,corto,Qua,2009.0,0.0,tt1568873
21411,accion,corto,The Chase,2009.0,0.0,tt1569957
21412,accion,corto,Death Daily,2009.0,0.0,tt1570484
21413,accion,corto,Our World Order,2009.0,10.0,tt1571736

In [28]:
df_lista_api_action.to_csv("api_accion_corregida.csv")

In [29]:
df_lista_api_drama = pd.DataFrame(lista_api_drama)
df_lista_api_drama

           0         1                         2       3    4          5
0      drama  pelicula               Pál Adrienn  2011.0  6.0  tt0146592
1      drama  pelicula            Oda az igazság  2010.0  2.0  tt0154039
2      drama  pelicula  A zöld sárkány gyermekei  2011.0  4.0  tt0162942
3      drama  pelicula         The Final Journey  2010.0  9.0  tt0230212
4      drama  pelicula               In My Sleep  2010.0  4.0  tt0326965
...      ...       ...                       ...     ...  ...        ...
23995  drama     corto              When in Rome  2009.0  2.0  tt1362332
23996  drama     corto               Perspective  2009.0  0.0  tt1362288
23997  drama     corto                 Communion  2009.0  NaN  tt1362385
23998  drama     corto                   Closure  2009.0  6.0  tt1362383
23999  drama     corto           A Second Chance  2009.0  4.0  tt1362306

[24000 rows x 6 columns]

In [30]:
df_lista_api_drama.to_csv("api_drama_corregida.csv")

In [33]:
df_total_api = pd.concat([df_lista_api_comedy, df_lista_api_action, df_lista_api_drama])
df_total_api

             0         1                   2       3     4          5
0      comedia  pelicula  This Wretched Life  2010.0   7.0  tt0331312
1      comedia  pelicula         Blind Sided  2010.0   0.0  tt0337882
2      comedia  pelicula    Anderson's Cross  2010.0   5.0  tt0393049
3      comedia  pelicula             Tangled  2010.0  12.0  tt0398286
4      comedia  pelicula       Venus & Vegas  2010.0  11.0  tt0423474
...        ...       ...                 ...     ...   ...        ...
23995    drama     corto        When in Rome  2009.0   2.0  tt1362332
23996    drama     corto         Perspective  2009.0   0.0  tt1362288
23997    drama     corto           Communion  2009.0   NaN  tt1362385
23998    drama     corto             Closure  2009.0   6.0  tt1362383
23999    drama     corto     A Second Chance  2009.0   4.0  tt1362306

[69414 rows x 6 columns]

In [34]:
df_total_api.to_csv("total_api_para_BBDD.csv")